.button {
    width: 33px;
    height: 33px;
    font-size: 1rem;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,.5);
    background-color: #f9f9f9;
    box-shadow: inset -5px 11px rgba(230, 222, 222, 0.1),
                1px 5px rgba(0,0,0,.1);
    color: #333;
    font-size: 0.9em;
    line-height: 33px;
    font-family: sans-serif;
    text-align: center;
    cursor: pointer;
    outline: none;
  }