<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- JS Fontawesome -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- My styling -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="style.css">
    <title>Braun Calculator
    </title>
</head>
<body>
    <main class="main">
        <div class="card calc-body" style="width: 18rem;">
            <div class="card-body">
            
            <span class="card-title logo">re<span class="big-A">A</span>ct</span>
            <div class="screen mx-auto">
                <div class="screen__inner">
                  <input type="text" readonly class="output"  placeholder="0"/>
                </div>
              </div>
              <div class="power-btns">
                <div class="left">
                  <div class="label"></div>
                </div>
                <div class="right">
                  <div class="label"></div>
                </div>
              </div>
            </div>
            <div class="card-body buttons-grid">
                <div class="row btn--green">
                    <p class="col-auto">
                        <button>M+</button>
                    </p>
                    <p class="col-auto">
                        <button>M-</button>
                    </p>
                    <p class="col-auto">
                        <button>MR</button>
                    </p>
                    <p class="col-auto">
                        <button>MC</button>
                    </p>
                       <p class="col-auto">
                        <button>+/-</button>
                    </p>
                </div>
                <div class="row">
                    <p class="col-auto">
                        <button class="btn--brown" id="pi">&#928;</button>
                    </p>
                    <p class="col-auto">
                        <button>7</button>
                    </p>
                    <p class="col-auto">
                        <button>8</button>
                    </p>
                    <p class="col-auto">
                        <button>9</button>
                    </p>   
                    <p class="col-auto">
                        <button class="btn--brown"><i class='fas fa-divide'></i></button>
                    </p>
                </div>
                <div class="row">
                    <p class="col-auto">
                        <button class="btn--brown" id="sqrt">
                            <!-- <i class="fas fa-square-root-alt"></i> -->
                            &#8730;
                        </button>
                    </p>
                    <p class="col-auto">
                        <button>4</button>
                    </p>
                    <p class="col-auto">
                        <button>5</button>
                    </p>
                    <p class="col-auto">
                        <button>6</button>
                    </p>
                    <p class="col-auto">
                        <button class="btn--brown"><i class='fas fa-times'></i></button>
                    </p>
                </div>
                <div class="row">
                    <p class="col-auto">
                        <button class="btn--brown"><i class="fa fa-percent"></i></button>
                    </p>
                    <p class="col-auto">
                        <button>3</button>
                    </p>
                    <p class="col-auto">
                        <button>2</button>
                    </p>
                    <p class="col-auto">
                        <button>1</button>
                    </p>
                    <p class="col-auto">
                        <button class="btn--brown"><i class="fas fa-minus"></i></button>
                    </p>
                </div>
                <div class="row">
                    <p class="col-auto">
                        <button class="btn--brown">CE</button>
                    </p>
                    <p class="col-auto">
                        <button>0</button>
                    </p>
                    <p class="col-auto">
                        <button>.</button>
                    </p>
                    <p class="col-auto">
                        <button class="btn--yellow"><i class="fas fa-equals" aria-checked="true"></i></button>
                    </p>
                    <p class="col-auto">
                        <button class="btn--brown"><i class="fas fa-plus"></i></button>
                    </p>
                </div>
            </div>
          
            <!-- <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div> -->
        </div>
      </main>
</body>
</html>